* {
  margin: 0;
}

body {
  overflow: hidden;
  background-color: #3b3486;
  height: 100%;
  width: 100%;
}

.rabbit-div {
  text-align: center;
  margin-top: 30px;
}

.rabbit {
  width: 200px;
  height: auto;
  transition: ease-out 1s;
}

.rabbit:hover {
  transform: rotate(10deg);
  transition: 1s;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-weight: 600;
  font-size: 3.8rem;
  text-align: center;
  letter-spacing: 0.2rem;
  color: white;
}

p {
  font-family: "Bebas Neue", cursive;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: white;
  margin-bottom: 20px;
}

.wrapper {
  width: 100%;
  margin: 100px auto;
  text-align: center;
}

button {
  cursor: pointer;
  font-family: "Bebas Neue", cursive;
  font-weight: 600;
  background-color: #7743db;
  color: white;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 7px;
  padding: 15px 35px;
  margin: 8px 8px;
  transition: ease-out 1s;
}

button:hover {
  transform: scale(1.1);
  background-color: #9d68ff;
  transition: all 0.5s;
}

.credits-div {
  margin-top: 100px;
}

.credits {
  font-family: "Bebas Neue", cursive;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.3rem;
  color: white;
  transition: ease-out 1s;
}

.credits:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #9d68ff;
  transition: all 0.5s;
}

.credits-div a {
  text-decoration: none;
  color: none;
}
